.container{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.car-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    
}
.cart-container{
    width: 310px;
    height: 510px;
    border: 1px solid #99738E;
    background-color: #99738E;
}
.cart-container button{
    position: relative;
    width: 70%;
    height: 40px;
    border: none;
    outline: unset;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    
}

@media screen and (max-width:767px){
    .car-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .car-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}