.container{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.car-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    
}

@media screen and (max-width:767px){
    .car-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .car-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}